@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --fr-white: #fdfdfd;
  --fr-black: #121212;
  --fr-light-grey: #f5f6f7;
  --fr-mid-grey: #d8d8d8;
  --fr-primary: #3b53a4;
  --fr-primary-mid: #2a3c70;
  --fr-primary-dark: #16203a;
  --fr-accent-one: #e5101b;
  --fr-accent-one-mid: #b71828;
  --fr-accent-one-dark: #d70f19;
  --fr-accent-two: #f0b516;
  --fr-accent-two-light: #edbe5f;
}

@theme inline {
  --color-fr-white: var(--fr-white);
  --color-fr-black: var(--fr-black);
  --color-fr-light-grey: var(--fr-light-grey);
  --color-fr-mid-grey: var(--fr-mid-grey);
  --color-fr-primary: var(--fr-primary);
  --color-fr-primary-mid: var(--fr-primary-mid);
  --color-fr-primary-dark: var(--fr-primary-dark);
  --color-fr-accent-one: var(--fr-accent-one);
  --color-fr-accent-one-mid: var(--fr-accent-one-mid);
  --color-fr-accent-one-dark: var(--fr-accent-one-dark);
  --color-fr-accent-two: var(--fr-accent-two);
  --color-fr-accent-two-light: var(--fr-accent-two-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--fr-white);
  color: var(--fr-primary-dark);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  letter-spacing: -0.02em;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.selectPadding {
  padding: 10px;
}

@media (max-height: 540px) {
  .mobile-nav-message {
    display: none;
  }
}

@media (max-height: 660px) {
  .mobile-nav-message {
    bottom: 8px;
  }
}
